<div class="row justify-content-center mt-5">
  <div class="col-md-4">
    <h4>Update Job</h4>
    <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">

      <div class="form-group">
        <label>Company Name</label>
        <input class="form-control" type="text" formControlName="company" readonly>
      </div>

      <div class="form-group">
        <label>Job Title</label>
        <input class="form-control" type="text" formControlName="position" readonly>
      </div>

      <div class="form-group">
        <label for="exampleFormControlSelect1">Application Status</label>
        <select class="form-control" formControlName='status' id="exampleFormControlSelect1">
          <option>Applied</option>
          <option>Follow Up Sent</option>
          <option>Interview Planned</option>
          <option>Interviewed</option>
          <option>Hired</option>
          <option>Declined</option>
        </select>
      </div>

      <div class="form-group">
        <label>Link to Job Listing</label>
        <input class="form-control" type="text" formControlName="link" required>
      </div>

      <div class="form-group">
        <label>Additional Notes</label>
        <textarea class="form-control" formControlName='notes' rows="3"></textarea>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" (change)='$event.target.checked? $event.target.value = true : $event.target.value = false' formControlName="starred" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Favorite this Job?
        </label>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block mt-3" type="submit">Update Job</button>
      </div>
    </form>
  </div>
</div>
