<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">Jobs List</h2>
  </div>

  <div class="table-responsive">
    <table class="table text-center table-bordered">
      <thead>
        <tr>
          <th scope="col">Company</th>
          <th scope="col">Position</th>
          <th scope="col">Status</th>
          <th scope="col">Posting</th>
          <th scope="col">Date Added</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Starred</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of Jobs; let i = index">
          <th scope="row">{{job.company | titlecase}}</th>
          <td>{{job.position | titlecase}}</td>
          <td>{{job.status}}</td>
          <td><a href='{{job.link}}'>Link</a></td>
          <td>{{job.createdAt | date:'longDate'}}</td>
          <td>{{job.updatedAt | date:'longDate'}}</td>
          <td><i class="bi" [ngClass]="job.starred?'bi-star-fill star':'bi-star'"></i></td>
          <td>
            <a class='icon-btn gear' alt='edit' routerLink="/jobs-details/{{job._id}}"><i title='Edit' class="bi bi-gear-fill"></i></a>
            <a class='icon-btn trash' alt='delete' (click)="delete(job._id, i)"><i title='Delete' class="bi bi-trash-fill"></i></a>
        </tr>
      </tbody>
    </table>
  </div>
</div>
