<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">Jobs List</h2>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Company</th>
          <th scope="col">Position</th>
          <th scope="col">Status</th>
          <th scope="col">Link</th>
          <th scope="col">Starred</th>
          <th class="text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of Jobs; let i = index">
          <th scope="row">{{job.company}}</th>
          <td>{{job.position}}</td>
          <td>{{job.status}}</td>
          <td>{{job.link}}</td>
          <td>{{job.starred}}</td>
          <td class="text-center">
            <button class="btn btn-sm btn-primary" routerLink="/jobs-details/{{job._id}}">Edit</button>
            <button class="btn btn-sm btn-danger" (click)="delete(job._id, i)">Delete</button>
        </tr>
      </tbody>
    </table>
  </div>
</div>
